/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  left: 2px;
  bottom: 0;
  width: 99.8%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #9ba4b4;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.octicon {
  position: relative;
  top: 5px;
}
